---
services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8080:8080/tcp
      - 8081:8081/tcp
      - 52636:52636/tcp
      - 52636:52636/udp
      - 8388:8388/tcp # Shadowsocks
      - 8388:8388/udp # Shadowsocks
    volumes:
      - ./gluetun:/gluetun
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - VPN_SERVICE_PROVIDER=$VPN_SERVICE_PROVIDER
      - OPENVPN_USER=$OPENVPN_USER
      - OPENVPN_PASSWORD=$OPENVPN_PASSWORD
      - SERVER_REGIONS=$SERVER_REGIONS
      - PRIVATE_INTERNET_ACCESS_VPN_PORT_FORWARDING=$PRIVATE_INTERNET_ACCESS_VPN_PORT_FORWARDING
      - TZ=$TZ
      - UPDATER_PERIOD=$UPDATER_PERIOD
      - UPDATER_VPN_SERVICE_PROVIDERS=$UPDATER_VPN_SERVICE_PROVIDERS
    restart: unless-stopped  
  # qbittorrent:
  #   image: lscr.io/linuxserver/qbittorrent:$TAG
  #   container_name: qbittorrent
  #   environment:
  #     - PUID=$PUID
  #     - PGID=$PGID
  #     - TZ=$TZ
  #     - WEBUI_PORT=8081
  #   volumes:
  #     - ./qbittorrent:/config
  #     - /mnt/mymount/data:/data
  #   depends_on:
  #     gluetun:
  #       condition: service_healthy
  #   network_mode: "service:gluetun"
  #   restart: always
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:$TAG
    container_name: sabnzbd-original 
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./sabnzbd:/config
      - /mnt/mymount/data/usenet:/data/usenet
    depends_on:
      gluetun:
        condition: service_healthy
    network_mode: "service:gluetun"
    restart: always
  flaresolverr:
    image: flaresolverr/flaresolverr:v1.2.9
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=$TZ
    ports:
      - 8191:8191
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:$TAG
    container_name: prowlarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./prowlarr:/config
    depends_on:
      - sabnzbd
    ports:
      - 9696:9696
    restart: unless-stopped
  # jackett:
  #   image: lscr.io/linuxserver/jackett:$TAG
  #   container_name: jackett
  #   environment:
  #     - PUID=$PUID
  #     - PGID=$PGID
  #     - TZ=$TZ
  #   volumes:
  #     - ./jackett:/config
  #     - e:/downloads:/downloads
  #   ports:
  #     - 9117:9117
  #   restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:$TAG
    container_name: sonarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./sonarr:/config
      - /mnt/mymount/data:/data
    depends_on:
      - sabnzbd
    ports:
      - 8989:8989
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:$TAG
    container_name: radarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./radarr:/config
      - /mnt/mymount/data:/data
    depends_on:
      - sabnzbd
    ports:
      - 7878:7878
    restart: unless-stopped
  lidarr:
    image: lscr.io/linuxserver/lidarr:$TAG
    container_name: lidarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./lidarr:/config
      - /mnt/mymount/data:/data
    depends_on:
      - sabnzbd
    ports:
      - 8686:8686
    restart: unless-stopped
  readarr:
    image: lscr.io/linuxserver/readarr:amd64-develop
    container_name: readarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - .readarr:/config
      - /mnt/mymount/data:/data
    depends_on:
      - sabnzbd  
    ports:
      - 8787:8787
    restart: unless-stopped
  overseerr:
    image: lscr.io/linuxserver/overseerr:$TAG
    container_name: overseerr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./overseerr:/config
    depends_on:
      - radarr
      - sonarr
    ports:
      - 5055:5055
    restart: unless-stopped
  # organizr:
  #   container_name: organizr
  #   hostname: organizr
  #   image: organizr/organizr:latest
  #   restart: unless-stopped
  #   ports:
  #       - 80:80
  #       - 443:443
  #   volumes:
  #       - ./organizr:/config
  #   environment:
  #     - PUID=$PUID
  #     - PGID=$PGID
  #     - TZ=$TZ
  tautulli:
    image: ghcr.io/linuxserver/tautulli:$TAG
    container_name: tautulli
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./tautulli:/config
    ports:
      - 8383:8383
    restart: unless-stopped
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    ports:
      - 6767:6767
    volumes:
      - ./bazarr/config:/config
      - /mnt/mymount/data:/data
    restart: unless-stopped
